<ul>
    <li><%= link_to "Make Invest ", invest_cash_deposit_path %></li>
    <li><%= link_to "My Investments", invest_cash_my_deposits_path %></li>
    <li><%= link_to "Withdraw", invest_cash_withdraw_path %></li>
    <li><%= link_to "Earning History", invest_cash_earning_statement_path %></li>
    <li><%= link_to "Withdrawal History", invest_cash_withdraw_history_path %></li>
 </ul>
<h1>Account Balance</h1>
<p>$0.00</p>
<h1>Total Deposit</h1>
<p>$220.00</p>
<h1>Total Withdrawn</h1>
<p>$2.64</p>
 

<h1>ACCOUNT INFO</h1>

<p>$2.64
EARNED TOTAL</p>

<p>$20.00
LAST DEPOSIT</p>

<p>$0.00
PENDING WITHDRAWAL</p>

<p>$0.66
LAST WITHDRAWAL</p>